.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 0.5px solid #1c1c1c;
  height: 70px;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #172554;
}
