@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --text-primary: #ffffff;
  --text-secondary: #5e5e5e;
  --text-error: rgb(106, 62, 3, 0.8);
  --accent: #4f2683;
  --primary: #1c1c1c;
  --placeholder-bg: rgba(0, 0, 0, 0.6);
  --modal-bg: rgba(255, 255, 255, 0.25);
  --slider-bg: #000;
  --overlay-bg: rgba(0, 0, 0, 0.7);
  --hover-card-collection: #000;
}

[data-theme="light"] {
  --text-primary: #333333;
  --text-secondary: #808080;
  --text-error: #000000;
  --accent: #ffc630;
  --primary: #f5f5f5;
  --placeholder-bg: rgba(0, 0, 0, 0.1);
  --slider-bg: #fff;
  --overlay-bg: rgba(0, 0, 0, 0.3);
  --hover-card-collection: #fff430;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: var(--text-primary);
  /* min-width: fit-content; */
}
