@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  font-family: "Poppins", sans-serif;
  --text-primary: white;
  --accent: #172554;
  --placeholder-text: rgba(255, 255, 255, 0.3);
  --placeholder-bg: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: var(--text-primary);
}
